/* 
Основные цвета: 
Цвет акцент  #2196F3
Цвет основного текста  #757575
Вторичный цвет текста  #212121
Дополнительный цвет текста  #FFFFFF
Цвет фона  #FFFFFF 
Вторичный цвет фона  #F5F4FA
Цвет акцент фона  #2F303A
*/

/* Variables */
:root {
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-background-color: #2f303a;
  --logo-color: #000000;
  --logo-color-footer: #ffffff;
}

body {
  color: var(--main-text-color);
  background-color: var(--primary-background-color);

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* Header */
.logo {
  color: var(--logo-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  text-decoration: none;
}

.logo > span {
  color: var(--accent-color);
}

/* Navigation */
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Contacts */
.contacts-link {
  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* Main page */

/* Hero */
.hero {
  background-color: var(--accent-background-color);
}
.hero-title {
  color: var(--secondary-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  align-items: center;
}

.pointer {
  cursor: pointer;
}

/* Our benefits */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-title.benefit {
  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

/* Our team */
.team {
  background-color: var(--secondary-background-color);
}
.member {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.specialization {
  font-size: 16px;
  line-height: 1.19;
}

/* Footer */
.bottom-contacts {
  background-color: var(--accent-background-color);
}
.logo.second {
  color: var(--logo-color-footer);
  background-color: var(--accent-background-color);
}

.contacts {
  font-style: normal;
  line-height: 1.71;
}

.location {
  color: var(--secondary-text-color);
}

.lower-contact {
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
}

.lower-contact:hover,
.lower-contact:focus {
  color: var(--accent-color);
}

/* Portfolio page */

/* Filter */
.filter-button {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;

  text-align: center;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

/* Gallery */
.card-link {
  text-decoration: none;
}

.card-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-text {
  color: var(--main-text-color);

  font-size: 16px;
  line-height: 1.87;
}
